body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.md-content[data-md-page="docs/coding/index"] {
    background-image: url('sfondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}